:root {
  --text-color: #444444;
  --accent-color: #4caf50;
  --accent-hover-color: #09e311c1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d1d1d;
  /* color:#fff; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav{
  background-color: #d5d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 10px;
}

nav h1 {
  color: var(--text-color);
  font-size: 24px;
}

nav div a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
nav div a:hover {
  text-decoration: underline;
}

nav div button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 8px;
  border-radius: 10px;
  font-size: 18px;
}

nav div button:hover{
  background-color: var(--accent-hover-color);
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;
  gap: 20px;
}

.main-right{
  width: 80%;
  margin: 60px auto;
  color: #ffffff;
  padding: 20px;
}

.main-right h1{
  font-size: 60px;
  margin-bottom: 15px;
}

.main-right h2{
  font-size: 24px;
  color: #d5d5d5;
  line-height: 1.3;
}

.main-right button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 8px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.main-right button:hover {
  background-color: var(--accent-hover-color);
  cursor: pointer;
}

.main-left img {
  width: 400px;
  height: 400px;
  border-radius:12px;

}

.contect-section h2 {
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.cohort-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: #2c2c2c;
  color: #ffffff;
  padding: 20px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 8px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.card button:hover {
  background-color: var(--accent-hover-color);
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}