:root {
  --dark-background-color: #5d5d5d;
  --font-color: #ffffff;
}

body{
  background-color: var(--dark-background-color);
  color: var(--font-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#parent{
  border: 2px solid red;
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  grid-template-columns: repeat(5, 2fr);
}

.child {
  border: 1px solid pink;
  background-color: bisque;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-4{
  grid-area: 3 / 3 / 4 / 4;
}

.child-5{
  grid-column: 4 / 6;
}